main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  justify-items: center;
  grid-gap: 100px;
  /* column-gap: 200px; 
  align-content: space-between;
  justify-content: space-between
  justify-content: center;
  align-content: center; */
}
